html, body {
    background-color: rgb(233, 233, 233);
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

a:hover{
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    top: 200px;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}

.title {
    font-size: 8vw;
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.navbar--extend{
    width: 280px;
    left: initial;
}

.navbar-color{
    background-color: rgba(128,128,128,0);
}

.nav-item--extend{
    width:50%;
    text-align: center;
}

.nav-link--extend{
    color: #FFFFFF;
    font-size: 24px;
}

@media screen and (max-width: 480px) {
    .nav-link--extend{
        color: #FFFFFF;
        font-size: 14px;
    }
    .navbar--extend{
        width:180px;
        left: initial;
        padding: 10px;
    }
}

.content-1{
    position: relative;
    text-align: center;
    padding-top: 80px;
    
    
}

.panel-1{
    margin: 10%;
    margin-top: 80px;
    text-align: center;
}

.panel-item{
    margin-bottom: 40px;
    text-align: center;
}

.panel-content{
    width: 95%;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 12px;
    -webkit-box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}

.product-title-1{
    font-size: 24px;
    color: #ff8e0d;
    margin-bottom: 0px;
}

.product-desc-1{
    font-size: 14px;
    color: #636b6f;
    margin-bottom: 0px;
}

.product-img-1{
    width: 100%;
    border-radius: 12px 12px 0px 0px;
}

.product-link:hover{
    text-decoration:none;
}

